{% extends "layout.html" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}
Testing Layout in Django by using unnamed block. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius ipsam minima porro iste distinctio at deleniti nulla itaque repudiandae fuga quibusdam quas culpa, nam excepturi cumque soluta odit libero, blanditiis recusandae perspiciatis, cupiditate officia illo architecto! Maxime, ad possimus nobis deleniti repellendus odit itaque incidunt unde sapiente deserunt et ab.
{% endblock %}